<header th:fragment="head">
    <div class="head flexBetween">
        <div class="nav flex">
            <div class="logo"><a href="/" target="_self" title="首页"><img title="学习网" src="/img/logo.png"></a></div>
            <ul class="nav-item flex">
                <li><a href="/" target="_self">首页</a></li>
                <li><a href="/course/list" target="_self">课程列表</a><li>
                <li><a href="/wenda" target="_self">问答</a></li>
                <li><a href="/note" target="_self">笔记</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="请输入...">
                <a class="icon" href="javascript:;"><i class="imv2-search"></i></a>
            </div>
        </div>
        <div class="sign flex">
            <a href="/user/login?type=1">登录</a>/
            <a href="/user/login?type=2">注册</a>
        </div>
    </div>
</header>
<footer th:fragment="foot">
    <div class="foot">
        <div class="link">
            <a>关于我们</a>
            <a>企业合作</a>
            <a>人才招聘</a>
            <a>讲师招募</a>
            <a>联系我们</a>
        </div>
        <div class="copy">
            <span>© 2019 top.chao 京ICP备13042132号</span>
        </div>
    </div>
</footer>
