@charset "UTF-8";
header,footer{background:#07111b;color:#717A84;}
header input{color:#fff;}
main{width:100%;}
.courseNav{width:100%;background-color:#fff;padding-bottom:12px;box-shadow:0 4px 8px 0 rgba(28,31,33,.1);}
.navWrap{width:1200px;margin:0 auto;}
.navTit{font-size:26px;font-weight:bold;color:#333;padding:20px 0;line-height:30px;border-bottom:1px solid rgba(28,31,33,.2);padding-left:50px;}
.navCont dl{position:relative;padding:16px 0 5px;border-top:1px solid
#edf1f2;min-height:66px;line-height:44px;padding-left:52px;}
.navCont dt{position:absolute;left:0;top:16px;width:52px;height:44px;font-weight:700;font-size:14px;color:#07111b;text-align:left;}
.navCont dd a{display:inline-block;margin:0 4px;padding:0 10px;font-size:14px;height:30px;line-height:30px;margin-top:7px;}
.navCont dd a.on{background:rgba(242,13,13,.06);border-radius:6px;font-weight:700;color:#f20d0d;}
.courseList{width:1200px;margin:0 auto;}
.courseList .courseCard{flex-wrap:wrap;}
.courseList .card{margin-bottom:20px;}
.courseList .courseBar{position:relative;padding:26px 0;overflow:hidden;font-size:12px;}
.courseList .courseBar a{display:inline-block;padding:4px 12px;line-height:16px;border-radius:12px;cursor:pointer;color:#1c1f21;}
.courseList .courseBar a:hover{color:#545c63;background:rgba(145,153,161,0.2);}
.courseList .courseBar a.active{color:#FFFFFF;background:#9199a1;cursor:default;}
.courseList .empty{width:100%;padding:100px 0;text-align:center;color:#999;font-size:16px;}
/* 分页*/
.page{margin:25px 0 auto;overflow:hidden;clear:both;text-align:center}
.page-inner{padding:0 20px}
.page a{display:inline-block;margin:0 8px;padding:0 4px;min-width:24px;line-height:32px;font-size:14px;color:#4d555d;text-align:center;border-radius:16px;-webkit-transition:border-color .2s;-moz-transition:border-color .2s;transition:border-color .2s}
.page a.p:hover{background:#d9dde1;color:#4d555d;text-decoration:none}
.page a.p.on{background:#4d555d;color:#fff}
.page a.dis{display:inline-block;padding:0 4px;min-width:24px;height:32px;line-height:32px;font-size:14px;color:#c8cdd2;text-align:center;cursor:default;}
