@charset "UTF-8";
main{width:100%;}
.videoArea{width:100%;position:relative;background-color:#000;overflow:hidden;}
.videoCon{width:100%;min-width:1200px;position:relative;}
/** 章节列表 */
.caplist{position:absolute;left:-400px;top:0;bottom:0;width:400px;background:#26292c;box-shadow:0 8px 16px 0 #1c1f21;z-index:9999;transition:.3s all linear;opacity:0;padding:8px 0;box-sizing:border-box}
.caplist.active{left:60px;opacity:1}
.caplist ul{padding:0 24px}
.caplist .captit{padding-top:20px;font-size:14px;color:#fff;line-height:22px;margin-bottom:8px}
.caplist .capli{height:30px}
.caplist .capli.current{background:rgba(255,255,255,.1);border-radius:4px}
.caplist .capli.current a{color:#fff}
.caplist .capli:hover a{color:rgba(242,13,13,.6)}
.caplist .capli a{padding:6px 0 6px 28px;width:100%;height:30px;box-sizing:border-box;overflow:hidden;display:block;position:relative;font-size:12px;color:rgba(255,255,255,.6);line-height:20px}
.caplist .capli a:hover i{color:rgba(242,13,13,.6)}
.caplist .capli em{position:absolute;left:8px;top:6px;font-size:16px;line-height:18px}
.caplist .capli i{float:right;font-size:12px;color:rgba(255,255,255,.2);line-height:20px}
.caplist .capli i.finish,.caplist .capli i.half{color:rgba(242,13,13,.6)}
.caplist .capli i span{margin-left:8px}
/* 左侧菜单 */
.vleft{background:#1c1f21;width:60px;display:flex;display:-webkit-flex;align-items:center;z-index:10000}
.vleft dl{flex:1;width:100%}
.vleft dd{display:flex;display:-webkit-flex;height:72px;flex-direction:column;text-align:center;justify-content:center;cursor:pointer}
.vleft dd.current,.vleft dd:hover{background:#26292c}
.vleft dd.current i,.vleft dd.current span,.vleft dd:hover i,.vleft dd:hover span{color:#fff}
.vleft dd.vhidden{display:none}
.vleft i{font-size:24px;color:rgba(255,255,255,.6);line-height:24px}
.vleft span{font-size:12px;color:rgba(255,255,255,.4);line-height:18px}
/* 中间视频部分 */
.vcenter{flex:1;min-width:500px;min-height:400px;padding:16px 0;position:relative;background:#1c1f21;}
.vcenter .videoBox{position:relative;margin:0 auto;height:100%;background:#0e1011;box-shadow:0 8px 16px 0
rgba(14,16,17,.8);border-radius:12px;overflow:hidden;}
/* 右侧讲师/课程介绍 */
.vright{position:relative;background:#1c1f21;width:384px;padding:0;right:0;z-index:1}
.vintro{padding:32px;background:#1c1f21}
.vright .vclose,.vright .vshow{position:absolute;right:24px;top:16px;font-size:24px;color:#93999f;line-height:24px;cursor:pointer;z-index:1}
.vright .vclose{display:inline}
.vright .vshow{display:none}
.vintro.closed{cursor:pointer}
.vintro.closed .vclose{display:none}
.vintro.closed .vshow{top:50%;margin-top:-12px;display:inline}
.vintro.closed .vwrap{display:none;}
.vintro .vteach .img{float:left;width:48px;height:48px;border-radius:50%;overflow:hidden;background:grey;}
.vintro .vteach .img img{width:100%;height:100%}
.vintro .vteach dl{float:left;margin-left:12px;margin-bottom:16px}
.vintro .vteach dd{height:24px}
.vintro .vteach dd:last-child{height:18px;margin-top:2px}
.vintro .vteach dd.name,.vintro .vteach dd.name a{font-size:16px;color:#fff;line-height:24px}
.vintro .vteach dd.name i{position:relative;color:#f01414;margin-left:4px}
.vintro .vteach dd.title{font-size:12px;color:rgba(255,255,255,.8);line-height:18px}
.vintro .vwrap .info{font-size:12px;color:rgba(255,255,255,.6);line-height:22px}
/* 右侧评价 */
.vright .veveBox{
    padding:24px;
}
.veveBox .evaluate .textarea,.veveBox .evaluate .ctrlBox{
    margin-left: 0;
}
.veveBox .evaluate .ehd{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}
.veveBox .evaluate input.tit {
    display: block;
    height: 36px;
    background: #fff;
    border: 1px solid
    #9199a1;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
}

/* 底部主体 */
.issueMenu{height:68px;line-height:68px;background:#fff;box-shadow:0 4px 8px 0 rgba(28,31,33,.1);position:relative}
.issueMenu .menu{width:1200px;margin:0 auto;}
.issueMenu .menu li{float:left;text-align:center;position:relative}
.issueMenu .menu li span{position:absolute;font-size:12px;font-weight:200;color:#9199a1;line-height:18px;top:10px;left:64px}
.issueMenu .menu a{display:inline-block;padding:0 16px;font-size:16px;color:#1c1f21;line-height:37px;font-weight:bold;margin-right:80px;padding:0}
.issueMenu .menu a.active{position:relative;color:#f20d0d;cursor:default;}

.issueArea{width:1200px;margin:0 auto;margin-bottom:40px;}
.issueArea .content{width:800px;padding-top:36px;}
.issueArea .aside{width:320px;}